
/*NavBar
-----------------------------------------------------------------------------------------
*/

.navbar {
 	position: fixed;
 	top:0;
    left:0;
    right:0;
    z-index:99;
    background-color: white;
	border-bottom: 3px solid mediumpurple;
	justify-content: space-around;
}

li {
    list-style-type: none;
}

.nav-item {
	padding: 10%
}

.nav-link {
	color: black;
}

.nav-link:hover {

	color: grey;
}

.nav-link:visited {
	color: black;
}

a {
	color: black;
}

a:hover {
	font-style: none;
	text-decoration: none;
	color: black;

}

a:visited {
	color: black;
}

a:active {
	color:black;
}
/*------------------------------------------------------------------------------------
Body
----------------------------------------------------------------------------------*/


.content {
display: grid;
grid-template-columns: 200px 200px 200px;
margin-top: 200px;
margin-left: 600px;
margin-right: 600px;
grid-gap: 20px;
justify-content: center;
}

.titles {
	border-bottom: 1px dotted grey;
	word-break: break-all;
	font-weight: bold;
}

.inner {
display: grid;
border: 1px solid mediumpurple;
border-radius: 5%;
padding: 20px;

}

.blocks {
display: grid;
margin-top: 5px;



}
