<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="userPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <script type="text/javascript" src="signup.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-grey">
    <ul class="navbar-nav">
        <li class="nav-item">
            <span th:if="${user.username != null}"><a th:href="@{/addEvent}">New event</a></span>
        </li>
        <li class="nav-item">
            <span th:if="${user.username != null}"><a th:href="@{/userSettings}">Settings</a></span>
        </li>
        <li class="nav-item">
            <span th:if="${user.username != null and #strings.equals(user.role.name,'ADMIN')}"><a th:href="@{/adminPage}" >Admin Page</a></span>
        </li>
        <li class="nav-item">
            <span th:if="${user.username != null}"><a th:href="@{/logout}" >Log out</a></span>
        </li>

    </ul>
</nav>
<br>
<div class="searchUser" >
    <div class="sticky">
    <div class="titles"><h4>Viewing <span th:text="${item.username}"></span>'s profile</h4></div>
    </div>
</div>

<div class="cont">

    <div class="profileContent">

        <div class="sticky">

            <div class="profilePicture">
                <img th:src="${item.profilePicturePath}" id="img" style="width: 250px;height: 135px" >
            </div>
            <div class="infoTitle">

                <div class="titles"><h4>Infos</h4></div>
                <ul>
                    <li></li>
                    <li><img th:src="${imagePath}" th:title="${countryName}" style="width: 40px;height: 40px"></li>

                    <li><span th:text="${item.age}"></span> years old</li>

                </ul>

            </div>
        </div>

    </div>
    <div class="leftcont">
        <div class="dd">
            <div class="sticky">
                <div class="titles"><h4>Friendlist</h4><span th:if="${user.username != null}">
				</span>
                </div>
                <div class="fl">
<span th:if="${item.friendListIsPublic == true and not #lists.isEmpty(item.friends)}">
					<th:block th:each="rel : ${item.friends}">
						<form th:action="@{/friendsProfile}" method="get">
							<input type="hidden" name="rel"  th:value="${rel.username}"><span th:text="${rel.username}"></span>
							<button type="submit" class="fas fa-plus-circle" title="Send a friend request" ></button>

						</form>
					</th:block>
	</span>
                    <span th:if="${item.friendListIsPublic == false or #lists.isEmpty(item.friends)}">Nothing to show</span>

                </div>
            </div>
        </div>
    </div>




    <div class="midcontent">


        <div class="tl">
            <span th:if="${#lists.isEmpty(userPosts)}">No posts to show yet :(</span>
            <span th:unless="${#lists.isEmpty(userPosts)}">
            <th:block th:each="post: ${userPosts}">

                <div class="post">
                    <div class="dropdown">
                        <div class="postDate">
                            On <span th:text="${post.date}"></span>
                            by <span th:text="${post.author}"></span>
                        </div>
                        <div class="postAction">
                            <button onclick="myFunction()" class="fas fa-bars"></button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Report</a>
                                <a href="#">Remove</a>
                            </div>
                        </div>
                    </div>

                    <div class="postContent">
                        <span th:if="${post.text != null }"><div class="postText"><span th:text="${post.text}"></span></div></span>
                        <span th:if="${post.linkPreview != null and post.linkPreview.siteName != null}"><div class="previewTitle"><a class="ls" th:href="${post.url}" target="_blank"><span th:text="${post.linkPreview.siteName}"></span></a></div></span>
                        <span th:if="${post.linkPreview != null and post.linkPreview.image != null}"><div class="previewImg"><a class="ls" th:href="${post.url}" target="_blank"><img th:src="${post.linkPreview.image}" style="width: 400px;height: 225px;" title="Go to website"></a></div></span>
                        <span th:if="${post.linkPreview != null and post.linkPreview.title != null}"><div class="previewTitle"><a class="ls" th:href="${post.url}" target="_blank"><span th:text="${post.linkPreview.title}"></span></a></div></span>
                        <span th:if="${post.linkPreview != null and post.linkPreview.description != null}"><div class="previewDescription"><a class="ls" th:href="${post.url}" target="_blank"><span th:text="${post.linkPreview.description}"></span></a></div></span>
                        <span th:if="${post.embedLink != null}"><div class="emb"><iframe width="510" height="166" scrolling="no" frameborder="no" allow="autoplay"
                                                                                         th:src="${post.embedLink}"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div> </div></span>
                    </div>

                    <div class="likeandshare">
                        <form th:action="@{/like}"  method="post">
                            <input type="hidden" name="id"
                                   th:value="${post.id}" /><span id="likes" th:text="${post.likes}"></span>

                            <button class="fas fa-heart" th:style ="${#lists.contains(likedPosts, post)}? 'color: DeepPink' : 'color: grey'" onclick=SubmitRequest()></button>
                            <span th:text="${post.id}"></span>
                            <button class="fas fa-bullhorn"></button>
                        </form>
                    </div>
                </div>
            </th:block>
                </span>
        </div>


</div>



    <div class="rightcont">
        <div class="ffs">
            <div class="sticky">
                <div class="titles"><h4><span th:text="${item.username}"></span>'s events</h4></div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
 $(document).ready(function() {
  $("#search").keyup(function() {
    var x = document.getElementById('users');
    if($(this).val() == "") {
      x.style.display = 'none';
    } else {
      x.style.display = 'block';
    }
  });
});

</script>

<script>
function searchUsers() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("users");
  tr = table.getElementsByTagName("form");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByClassName("usersBody")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


</body>
</html>
