<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/friendRequests.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <script type="text/javascript" src="signup.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-grey">
    <ul class="navbar-nav">
        <li  class="nav-item" >
            <a th:href="@{/profile}"> Welcome <span th:text="${user.username}"></span></a>
        </li>
        <li class="nav-item">
            <span th:if="${user.username != null}"><a th:href="@{/logout}" >Log out</a></span>
        </li>
        <li class="nav-item">
            <span th:if="${user.username != null}"><a th:href="@{/userSettings}">Settings</a></span>
        </li>

        <li class="nav-item">
            <span th:if="${user.username != null and #strings.equals(user.role.name,'ADMIN')}"><a th:href="@{/adminPage}" >Admin Page</a></span>
        </li>

    </ul>
</nav>
<br>

<div class="content">
<p th:text="${errorMessage}"></p>
    <div class="titles"><h4>Friend Requests</h4></div>
<th:block th:each="item : ${frs}">

    <div class="friendRequests">
        <div class="left">
            <div class="test">picwillcomehere</div></div>
        <div class="mid">
    <form th:action="@{/friendRequests}" method="post" id="myForm" >
        <input type="hidden" name="id" th:value="${item.id}">
        <div class="senderName">
        <input type="hidden" name="sender" th:value="${item.sender.username}"><p th:text="${item.sender.username}" style="font-size: 20px, font-weight: bold"></p></input>
        </div>
        </form>
        </div>
        <div class="right">
       <div class="btn">
           <button type="submit" class="fas fa-check-circle" value="acceptFr" name="action" form="myForm" title="Accept"
           style="border: none; background-color: white; color: green"></button></div>
            <div class="btn">
        <button type="submit" class="fas fa-times-circle" value="declineFR" name="action" form="myForm" title="Decline"
                style="border: none; background-color: white; color: red"></button></div>
        </div>

    </div>
</th:block>
</div>
</body>
</html>
