<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="book.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="signup.js"></script>
    <title>Change password</title>
</head>
<body>
<form action="passwordChange" method="post" >
    <input type="password" name="oldPassword"  placeholder="Old password" />

    <input type="password" name="newPassword"  placeholder="Password" onblur="rmMessOnBlur()" onfocus="addMessOnFocus()" onkeyup="lengthValidation()"/>

    <span id="message">
              <p id="length" class="invalid" style="color: red" >Password must be at least 8 characters</b></p>
            </span></p>
    <input type="password" name="passwordc"  placeholder="Confirm" required/>

    <input class="btn login" id ="loginbtn" type="submit" value="Submit" />
</form>

<script>
//removes password length error message onload
window.onload = function() {
  document.getElementById("message").style.display = "none";
}


</script>
</body>
</html>